.footer {
    margin: 55px 0 25px;
    position:relative;

    hr {
        background: $primary-color;
        height: 7px;
    }

    .footerMain {
        background: $dark-gray;
        background-image: url(//roaminglove.imgix.net/2017/05/footer-bg-logo.png);
        background-position: 305px 80px;
        background-repeat: no-repeat;
        color: $white;
        margin-top: 20px;
        padding: 50px 15px;
    }

    &__summary {
        font-weight: 100;
        font-size: 16px;
        text-align: right;
        margin-top: 4px;
        position: relative;
    }

    &__newsletter {
        .formNewsletter {
            &__title {
                width: 320px;
                float: left;
                margin-bottom: 5px;
                padding-right: 5px;
                border-bottom: 1px solid;
            }
        }
    }

    &__links {
        ul {
            margin: 0 0 0 40px;
            padding: 0;
            list-style: none;
            float: right;

            &:last-child {
                margin-right: 0;
            }

            li {
                margin-bottom: 7px;

                a {
                    text-decoration: none;
                    text-transform: lowercase;
                    font-family: $displayFont;
                    font-size: 20px;
                    color: $primary-color;
                }
            }
        }
    }

    .instagramLink {
        margin-top: 20px;
        float: none;
        display: block;
        max-width: 250px;
        margin-left: auto;
        text-align: center;
    }
}


